body {
  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  color: white;
  background: blue;
  border: none;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 4px;
}

input {
  padding: 10px;
  margin-left: 5px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid grey;
}

.search {
  width: 80%;
  padding: 20px;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 0px;
}

.searchbox {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: fit-content;
  width: 90%;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 3%;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
